* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

body {
  background: #0F0D13;
}

body * {
  font-family: 'Roboto', sans-serif;
}

#app {
  display: grid;
  grid-template-columns: max-content max-content; /* max-content -> define o tamanho da grade pelo maior conteúdo */
  grid-template-areas:
  'A B'
  'A C';

  gap: 3.2rem;

  place-content: center; /* place-content -> alinhar o conteúdo */
  height: 100vh; /* fica totalmente ao centro da página, tanto em altura quanto em largura */
}

/* player-1 */
#player-1 {
  grid-area: A;
  padding: 5rem 3.8rem;
}

#player-1 .wrapper {
  width: 19rem;
}

#player-1 img {
  width: 19rem;
  height: 19rem;
  object-fit: cover; /* object-fit -> especifica como o conteúdo deve se ajustar à caixa estabelecida pela altura e largura usadas */

  border-radius: 0.6rem;
}

#player-1 .info {
  margin-top: 2.8rem;
}

/* player-2 */
#player-2 {
  grid-area: B;
  height: fit-content; /* ajustar o tamanho da caixa sem ultrapassar o max-content */
}

/* player-3 */
#player-3 {
  grid-area: C;
}

/* PLAYER */
.player {
  background: #2A2141;
  padding: 2.8rem;
  border-radius: 1rem;
}

.player img {
  width: 8.4rem;
  height: 8.4rem;
  object-fit: cover; /* object-fit -> especifica como o conteúdo deve se ajustar à caixa estabelecida pela altura e largura usadas */

  border-radius: 0.6rem;
}

.info-wrapper {
  display: flex;
  align-items: center;
  gap: 2.8rem;
}

.info {
  color: #E1E1E6;
}

.info h1 {
  font-size: 2.4rem;
  margin-bottom: 0.96rem;
}

.info p {
  opacity: 0.67;
  font-size: 1.9rem;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-top: 2.8rem;
}

.horizontal .controls {
  padding-inline: 5.8rem;
}

.track {
  margin-top: 2.8rem;
  position: relative; /* fazer a sobreposição dos width */
}

.track::before {
  content: ''; /* toda caixa precisa ter conteúdo */
  height: 0.6rem; /* toda caixa precisa ter altura */
  width: 100%; /* garantir que preencha todo o espaço */
  display: block; /* toda caixa precisa ter uma visualização */

  background: #D9D9D9;
  opacity: 0.3;
  border-radius: 1rem;

  position: absolute; /* fazer a sobreposição dos width */

}

.track::after {
  content: ''; /* toda caixa precisa ter conteúdo */
  height: 0.6rem; /* toda caixa precisa ter altura */
  width: 80%; /* diminui a largura */
  display: block; /* toda caixa precisa ter uma visualização */

  background: #D9D9D9;
  border-radius: 1rem;
}

.time {
  font-size: 1.4rem;
  color: #C4C4CC;
  opacity: 0.7;

  display: flex;
  justify-content: space-between;

  margin-top: 0.96rem;
}

/* responsividade */
@media (max-width: 767px) {
  #app {
    display: flex;
    flex-direction: column;

    max-width: 27rem;
    margin: auto;
    height: auto; /* sem o height, o player-1 fica cortado */
    padding-block: 6rem; /* preenchimento lógico inicial e final do bloco de um elemento */
  }

  .horizontal .controls {
    padding-inline: 3rem;
  }
}